.search-bar-container {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
  padding: 10px;
}

.search-bar {
  height: auto;
  width: 50%;
  border-radius: 30px;
  border: 1px solid #777277;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease-in-out;
}

.search-bar:hover,
.search-bar:focus {
  outline: transparent;
  width: 80%;
  border-color: #ccad25;
  transition: 0.5s ease-in-out;
}

.search-bar:hover ~ .search-icon,
.search-bar:focus ~ .search-icon {
  color: #ccad25;
}

.search-icon {
  /* width: 10%;
  display: flex;
  justify-content: flex-end; */
  margin-right: 10px;
  font-size: 1.5em;
  font-weight: lighter;
  color: rgba(71, 64, 64, 0.664);
}

@media screen and (max-width: 560px) {
  .search-bar {
    width: 75%;
  }

  .search-bar:hover,
  .search-bar:focus {
    width: 90%;
  }
}
